target-version = "py310"
line-length = 120

[lint]
preview = true
# https://docs.astral.sh/ruff/rules/
select = ["ALL"]
ignore = [
    "COM812",  # Missing trailing comma (interferes with the formatter)
]


[lint.per-file-ignores]
"test/**" = [
    "E501",    # Line too long
    "PLR0913",  # Too many arguments in function definition
    "I001", # Import block is un-sorted or un-formatted
    #"D", # Docstrings
    "S101", # Use of assert detected
    "PLR0915", # Too many statements
    "S311", # Standard pseudo-random generators are not suitable for cryptographic purposes
]
"test/**/*test*.py" = [
    "D", # ignore docstrings in test files
    "DTZ005", # `datetime.datetime.now()` called without a `tz` argument
    "DTZ011", # `datetime.date.today()` used
    "DTZ001", # `datetime.datetime()` called without a `tzinfo` argument
    "PLR6301" # method does not use `self`
]
"noxfile.py" = [
    "D"
]
"scripts/**" = [
    "T201", # Print found
    "INP001" # File is part of an implicit namespace package. Add an `__init__.py`.
]
"**/{attrs,dataclass,msgspec,driver_asyncpg}/*.py" = [
    "INP001", # File is part of an implicit namespace package. Add an `__init__.py`.
    "FBT001", # Boolean-typed positional argument in function definition
    "CPY001", # Missing copyright notice at top of file
]
"test/{models,queries}.py" = [
    "CPY001", # Missing copyright notice at top of file
]


[lint.isort]
required-imports = ["from __future__ import annotations"]
force-single-line = true

[lint.pydocstyle]
convention = "numpy"

[format]
exclude = [
    "**/classes/*",
    "**/functions/*",
]